* {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-color: #cccccc;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #120323;
    align-items: center;
    text-align: center;
}

.header-container{
    max-width: 100%;
    height: auto;
}

header h1{
    color: #97bf04;
    font-size: 150%;
}

nav{
    margin: 0%;
    width: 85%;
    margin-bottom: 1rem;
}

nav ul{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}