* {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-color: #cccccc;
    font-family: sans-serif;
}

/*header css*/

header {
    display: flex;
    flex-direction: column;
    background-color: #120323;
    align-items: center;
    text-align: center;
}

.header-container{
    max-width: 100%;
    height: auto;
    padding: 1rem;
}

header h1{
    color: #97bf04;
    font-size: 150%;
}

/*nav css*/

nav{
    margin: 0%;
    width: 85%;
    margin-bottom: 1rem;
}

nav ul{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    list-style-type: none;
}

nav li{
    margin-top: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid #97bf04;
    background-color: #d9043d;
}

nav li a{
    list-style: none;
    text-decoration: none;
    color: white;
}

/*main css*/

main h2{
    text-align: center;
    padding: 1rem;
}

main figure{
    background-color: white;
    padding: 2rem;
}

main img{
    width: 100%;
    max-width: 650px;
    border-bottom: 10px solid #97bf04;
}

/*footer*/

footer{
    background-color: #d9043d;
    color: white;
    padding: 3rem;
    text-align: center;
}

@media screen and (min-width: 768px){
    nav li{
        border-style: none;
        padding-top: 0;
    }

    main h2{
        padding: 1rem;
        font-size: 150%;
    }

    #gallery-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    #gallery-container figure:last-child{
        grid-column: span 2;
        justify-content: center;
    }

    footer{
        padding: 2rem;
    }
}

@media screen and (min-width: 1000px){
    #gallery-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    footer{
        padding: 2rem;
    }
}